# Copy this file to `.env` file in `secrets` folder and fill in the values (do NOT commit `.env`).

# Never hardcode tokens in scripts or notebooks.
# Required secret 
HF_TOKEN=hf_your_write_token_here

# Non-secret variables
CHECKPOINT_DIR=/path/to/checkpoint
REPO_ID=username/repo-name

# Accepts true/false/1/0/yes/no
HF_PRIVATE=true

# Used if checkpoint dir has no tokenizer files
BASE_MODEL=model-name
