accelerate
black
huggingface_hub
ipykernel
jupyter-black
jupyterlab
lightning
matplotlib
mlflow
pandas
scikit-learn
tensorboard
torch
torchinfo
torchvision
tqdm
transformers
git+https://github.com/americanexpress/mlflow-server-proxy