accelerate
black
huggingface_hub
hydra-core
ipykernel
jupyter-black
jupyterlab
lightning
matplotlib
mlflow
omegaconf
pandas
python-dotenv
scikit-learn
tensorboard
torch
torchinfo
torchvision
tqdm
transformers
git+https://github.com/americanexpress/mlflow-server-proxy